
<div class="body" style="overflow-x: hidden;">

    <div class="row">
        <div class="col-12">
            <div id="carouselExampleControls" class="carousel slide" data-bs-ride="carousel">
                <div class="carousel-inner">
                <div class="carousel-item active">
                    <img src="/assets/img/carrossel_1.jpg" class="d-block w-100" alt="..." style="margin-top: 56px;">
                </div>
                <div class="carousel-item">
                    <img src="/assets/img/carrossel_2.jpg" class="d-block w-100" alt="..." style="margin-top: 56px;">
                </div>
                </div>
                <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="prev" style="margin-top: 56px;"> 
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Anterior</span>
                </button>
                <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="next" style="margin-top: 56px;">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Proximo</span>
                </button>
            </div>
        </div>
    </div>


    <div class="container-fluid">
        <div class="row img-wrapper p-4 m-2" style="justify-content: center;">
            
            <div class="col-sm-3" >
                <div class="card border-dark"  style="background-color: transparent;">
                    <img src="/assets/img/cards_1.png " class="imgBoxes" style="background-color: transparent; border-radius: 20px;"/>
                    <div class="img-overlay p-3" routerLink="/cart">
                        <button class="b-0 btn btn-success">Kit Básico</button>
                    </div>
                </div>
                <br>
            </div>

            <div class="col-sm-3" >
                <div class="card border-dark"  style="background-color: transparent;">
                    <img src="/assets/img/cards_2.png " class="imgBoxes" style="background-color: transparent; border-radius: 20px;"/>
                    <div class="img-overlay p-3" routerLink="/cart">
                        <button class="b-0 btn btn-success">Kit Médio</button>
                    </div>
                </div>
                <br>
            </div>

            <div class="col-sm-3" >
                <div class="card border-dark"  style="background-color: transparent;">
                    <img src="/assets/img/cards_3.png " class="imgBoxes" style="background-color: transparent; border-radius: 20px;"/>
                    <div class="img-overlay p-3" routerLink="/cart">
                        <button class="b-0 btn btn-success">Kit Avançado</button>
                    </div>
                </div>
                <br>
            </div>

        </div>


        <div class=" row home bg-light camisetas" style="padding: 100px;">

                <div class="col-3 textos">
                    <p>Estampas Exclusivas e</p>
                    <h2>ESTAMPAS<br>UNICAS<br>PARA VOCÊ!</h2>
                    <p>Todo mes tem novidade.</p>
                </div>

                <div class="col-sm-3 ">
                    <div>
                        <img src="/assets/img/camisas_geek.png " style="max-width: 50vh; " />
                    </div>
                </div>

        </div>
    </div>
</div>